@import '../variables';

#contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  input,
  textarea,
  button {
    display: block;
    padding: 0.75rem 1.1rem;
    width: 100%;
    box-sizing: border-box;
    max-width: 400px;
    border-radius: 0.9rem;
    font-size: 1.1rem;
    font-family: inherit;
    border: 0;
    margin-bottom: 1rem;
    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
    &:focus {
      &::placeholder {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
  textarea {
    resize: none;
  }
  button {
    background-color: $red;
    transition: background-color 250ms ease, color 250ms ease;
    &:disabled {
      color: rgba(255, 255, 255, 0.75);
      border: 1px solid rgba(255, 255, 255, 0.75);
    }
    &:enabled {
      border: 1px solid white;
      color: white;
      &:hover {
        background-color: white;
        color: $red;
      }
    }
  }
}

#contact {
  text-align: center;
  padding-top: 1.34rem;
}
