@import '../variables';

#nav-top {
  font-size: 0.8rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 999;
  width: 100%;
  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }
}

#nav-logo {
  padding: 1.375rem 0;
  height: 2.25rem;
  margin-left: 0.8rem;
  vertical-align: middle;
}

#nav-trigger {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    cursor: pointer;
    background-color: $red;
    color: white;
    border-radius: 0.25rem;
    padding: 0.6rem 0.75rem;
    margin: 0 0.8rem;
    svg {
      margin-right: 0.2rem;
    }
  }
}

#nav-buttons {
  display: flex;
  align-items: center;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

#nav-navigation {
  @media (max-width: $mobile) {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 227.5ms ease;
  }
}

#nav-navigation.visible {
  @media (max-width: $mobile) {
    display: block;
    max-height: 156px;
  }
}

.nav-button {
  display: inline-block;
  font-weight: 500;
  color: black;
  vertical-align: middle;
  padding: 0.35rem 0 0;
  margin: 0 0.8rem;
  @media (max-width: $mobile) {
    width: 100%;
    text-align: center;
  }
}

.nav-button:after {
  margin-top: 0.25rem;
  display: block;
  content: '';
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  transform: scaleX(0);
  transition: transform 250ms ease, border-color 250ms ease;
}

.nav-button:hover:after {
  transform: scaleX(1);
}

.active-nav-button:after,
.active-nav-button:hover:after {
  transform: scaleX(1);
  border-bottom: 0.1rem solid $red;
}

#donate-button {
  color: $red;
  border-color: $red;
  margin: 0 0.8rem 0 0;
  font-weight: 600;
  @media (max-width: $mobile) {
    margin: 0.35rem 0;
  }
}

.pill-button,
.pill-button:hover {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: 0.05rem solid;
  border-radius: 8rem;
}
