@import '../variables';

#nav-top {
  font-size: 0.8rem;
  height: 5rem;
  background-color: white;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-logo {
  height: 45px;
  margin-left: 2.5rem;
  vertical-align: middle;
}

#nav-buttons {
  display: flex;
  align-items: center;
}

.nav-button {
  display: inline-block;
  font-weight: 500;
  color: black;
  vertical-align: middle;
  padding: 0.35rem 0 0;
  margin: 0 0.8rem;
}

.nav-button:after {
  margin-top: 0.25rem;
  display: block;
  content: '';
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out, border-color 250ms ease-in-out;
}

.nav-button:hover:after {
  transform: scaleX(1);
}

.active-nav-button:after,
.active-nav-button:hover:after {
  border-bottom: 0.1rem solid $red;
  transform: scaleX(1);
}

#donate-button {
  color: $red;
  border-color: $red;
  margin: 0 2.5rem 0 1.7rem;
}

.pill-button,
.pill-button:hover {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: 0.05rem solid;
  border-radius: 8rem;
}
