@import '../variables';

.spacing {
  margin-top: 10vh;
}

.top-section {
  padding: 2vh 6vw;
}

.logo-img {
  max-height: 300px;
}

.screen-shot-section {
  padding: 2vh 6vw;
}

.screen-shot-image {
  max-height: 200px;
}
