@import '../variables';

#sponsors {
  img {
    max-height: 300px;
    @media (max-width: $mobile) {
      max-width: 300px;
    }
  }
}
.hash_link_white {
  text-decoration: none;
  color: white;
}
