<section id="about-us">
  <div class="section-title">
    <h1 class="stroke" id="About Us">About Us</h1>
  </div>
  <div class="tagline-pattern pattern-diagonal-lines-md">
    <h2>An intentionally inclusive community of problem solvers</h2>
  </div>
  <div class="organization">
    <h3>Our Organization</h3>
    <p>We are a Code for America Brigade community with regular meetups and other events to help bring together creative problem solvers with local community groups and government trying to address some of our most pressing 21st century problems.</p>
  </div>
  <div class="about-pattern pattern-diagonal-lines-md">
    <div class="about-container">
      <div class="text-container">
        <h3>Curious About Civic Tech?</h4>
          <p>Join our Colorado Civic Tech newsletter to stay in the loop about all of the many things going on in Colorado’s Civic Tech scene.</p>
          <form class="newsletter-form">
            <input type="text" name="email" placeholder="Enter Email" />
            <button type='submit'>SUBSCRIBE</button>
          </form>
        </div>
    </div>
  </div>
</section>