<footer>
  The Footer is here...
  <div class="wrapper">
  	<div class="footer_nav">
  		<ul>
  			<li><a href="#about_us">About Us</a></li>
  			<li><a href="#volunteer">Volunteer</a></li>
  			<li><a href="#faq">Frequently Asked Questions</a></li>
  			<li><a href="#projects">Projects</a></li>
  			<li><a href="#work_with_us">Work With Us</a></li>
  		</ul>
  		<p>&copy; 2020 Code For Denver</p>
  	</div>
  	<div class="footer_stamp">
  		<img src="../assets/img/Stamp_red.png" alt="Code For Denver Stamp">
  	</div>
  </div>
</footer>