<header id="header">
  <div class="header_wrapper">
  	<div class="animation">
  		<div class="animation_pic">
  			<img class="frame" src="..\assets\img\Frame2.png">
  			<div class="sun"></div>
  			<img class="polygon" src="..\assets\img\Polygon.png">
  			<img class="polygon2" src="..\assets\img\Polygon.png">
  		</div>	
  	</div>
  	<div class="introduction">
  		<div class="content">
  			<img class="text_only" src="..\assets\img\Text Only_red.png">
  			<span>Code for Denver is building the next great generation of civic hackers, innovators, and disruptors here in Colorado.</span>
  		</div>
  	</div>
  </div>
</header>