<div class="nav-wrapper">
  <nav class="navbar">
    <img src="./assets/img/Horizontal Logo_red.png" alt="Company Logo">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav">
      <li><!--spacer element for grid --></li>
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#about-us">About Us</a></li>
      <li class="nav-item"><a href="#volunteer">Volunteer</a></li>
      <li class="nav-item"><a href="#faq">Frequently Asked Questions</a></li>
      <li class="nav-item"><a href="#projects">Projects</a></li>
      <li class="nav-item"><a href="#work-with-us">Work With Us</a></li>
      <li class="nav-item"><a href="#donate">Donate</a></li>
    </ul>
  </nav>
</div>

<script src="./assets/js/test.js"></script>
