<div class="nav-wrapper">
  <nav class="navbar">
    <img src="./assets/img/Horizontal Logo_red.png" alt="Company Logo">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav">
      <li><!--spacer element for grid --></li>
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">Volunteer</a></li>
      <li class="nav-item"><a href="#">Frequently Asked Questions</a></li>
      <li class="nav-item"><a href="#">Projects</a></li>
      <li class="nav-item"><a href="#">Work With Us</a></li>
      <li class="nav-item"><a href="#">Donate</a></li>
      <li><!--spacer element for grid --></li>
    </ul>
  </nav>
</div>

<script src="./assets/js/test.js"></script>