<section id="volunteer">
  <div class="section-title">
    <h1 class="stroke alt-heading" id="Volunteer">Volunteer</h1>
  </div>

  <div class="volunteer-grid">
    <div class="volunteer-how-we-work">
      <h3>How We Work</h3>
      <p>
        We build apps, software, and websites with non-profits, local government, and the community that serve their needs. Who
        we work with and what we work on are determined at project pitch nights. To stay on top of projects throughout the year,
        we host weekly project nights for all members, and a special onboarding new members night once a month.
      </p>
    </div>

    <div class="volunteer-our-culture">
      <h3>Our Culture</h3>
      <p>
        Code for Denver is an intentionally inclusive community of problem solvers. We are primarily a working group,
        participating on projects or organizational needs each meetup. We are beginners and experts, designers and developers,
        and everything in between, connected by wanting to give back to our community, influence civic technology, and gather in
        a safe space to code, design, learn, and build.
      </p>
    </div>

    <div class="volunteer-come-together">
      <h3>Come Together</h3>
      <p>
        We meet on most Monday nights. Join us, everyone is welcome! RSVP on our <a href="#">Meetup</a> to see the full schedule of events and
        to let us know you're coming.
      </p>
      <div class="volunteer-address">
        <p>WorkAbility – Uptown at the Sudler</p>
        <p>1576 Sherman St</p>
        <p>Denver, CO 80203</p>
        <p>6pm-9pm</p>
      </div>

      <a class="button-link">Join Us</a>
      </div>

    <div class="volunteer-img-wrapper volunteer-img-how-we-work">
      <div class="pattern-diagonal-lines-md"></div>
      <img class="volunteer-img" src="../assets/img/CFD-CoffeeOnThePoint.jpg" alt="Code For Denver Working Together">
    </div>
    <div class="volunteer-img-wrapper volunteer-img-our-culture">
      <div class="pattern-diagonal-lines-md"></div>
      <img class="volunteer-img" src="../assets/img/image_3.png" alt="Code For Denver Coming Together">
    </div>
  </div>
</section>
