<section id="volunteer">
  <div class="section-title">
    <h1 class="stroke alt-heading" id="Volunteer">Volunteer</h1>
  </div>
  <div class="volunteer-grid">
    <div>
      <h4>How We Work</h4>
      <p>We build apps, software, and websites with non-profits, local government, and the community that serve their needs. Who we work with and what we work on are determined at project pitch nights. To stay on top of projects throughout the year, we host weekly project nights for all members, and a special onboarding new members night once a month.</p>
    </div>
    <img src="https://placekitten.com/200/300" />
    <div>
      <h4>How We Work</h4>
      <p>We build apps, software, and websites with non-profits, local government, and the community that serve their needs. Who we work with and what we work on are determined at project pitch nights. To stay on top of projects throughout the year, we host weekly project nights for all members, and a special onboarding new members night once a month.</p>
    </div>
    <img src="https://placekitten.com/200/300" />
    <div>
      <h4>How We Work</h4>
      <p>We build apps, software, and websites with non-profits, local government, and the community that serve their needs. Who we work with and what we work on are determined at project pitch nights. To stay on top of projects throughout the year, we host weekly project nights for all members, and a special onboarding new members night once a month.</p>
    </div>
  </div>
</section>