<section id="work-with-us">
  <div class="section-title">
    <h1 class="stroke alt-heading">Work With Us</h1>
  </div>
  <img src="./assets/img/Frame.png">
  <div class="work-container">
    <div class="text-container">
      <h3>Have an Idea?</h4>
        <p>If you’re interested in working with us, or have a project that might align with our mission and values, reach out to us with a few details.</p>
        <ul>Projects we work on tend to be:
          <li>Focused on helping the community</li>
          <li>In collaboration with government or nonprofit partners</li>
          <li>Resuable for other cities, brigades, organizations</li>
          <li>Nonpartisan</li>
        </ul>
      </div>
      <button>WORK WITH US</button>
  </div>
</section>