/* FAQ Styles */

#faq {
  background-color: $navy;
  display: flex;
  flex-direction: column;
}

.faq-container {
  color: $white;
  padding-top: 22rem;
  padding-bottom: 10rem;
  line-height: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;

  .faq-pattern {
    position: absolute;
    width: 344px;
    height: 70px;
    z-index: 1;
    transform: translate(-1.5rem, -1rem)
  }
  
  dt {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 2px;  
    font-weight: bold;
    z-index: 2;
    padding-bottom: .25rem;
  }

  dd {
    position: relative;
    margin: 0;
    color: $white;
    z-index: 2;
    padding-bottom: 4rem;
  }
}

@media ( max-width: 576px ){
  .faq-container {
    padding-top: 10rem;
    padding-bottom: 3rem;
    
    .faq-pattern {
      position: absolute;
      width: 230px;
      height: 70px;
    }
  }
}