/* Global Styles */
/* mixins, colors, etc. */

$cfd-red: #E14E54;
$navy: #181E34;
$white: white;
$light-grey: #C4C4C4;

$breakpoints: (
  'small':  ( min-width: 576px ),
  'medium': ( min-width: 768px ),
  'large':  ( min-width: 992px )
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

/* Structural Responsive Needs */

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* typeography */

h1 {
  font-weight: 900;
  font-size: 2rem;
  color: $cfd-red;
}

.section-title {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.stroke, .stroke:before {
  position: absolute;
  text-transform: uppercase;
  margin: 0;
}

.stroke {
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 0;
}

.alt-heading {
  transform: translate(-50%, -45%);
}

.faq-heading {
  transform: translate(-50%, -20%);
  min-width: calc(54% - 50px);
}

.stroke:before {
  content: attr(id);
  -webkit-text-stroke: .5rem $white;
  z-index: -1;
}

.stroke:after {
  content: "";
  display: block;
  background-image: url(/assets/img/Arrow.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: $cfd-red;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: $navy;

  .h3-alternate {
    color: $white;
  }
}

h4 {
  font-weight: bold;
  font-size: .875rem;
  color: $navy;
}

h5 {
  font-weight: bold;
  font-size: .875rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $cfd-red;
}

p {
  font-weight: normal;
  font-size: .875rem;
  color: $navy;
}

/* responsive css that respond to medium sized screens or larger */

@include respond-to('medium') {
  h1 {
    font-size: 5.5rem;
  }

  .stroke {
    transform: translate(-50%, -45%);
  }
  
  .alt-heading {
    transform: translate(-50%, -33%);
  }

  .faq-heading {
    transform: translate(-50%, -25%);
    /* super britle way to get the faq heading to match design */
    min-width: calc(52% - 10px);
  }
  
  .stroke:before {
    content: attr(id);
    -webkit-text-stroke: 1.25rem $white;
  }
  
  .stroke:after {
    content: "";
    display: block;
    height: 35px;
    background-image: url(/assets/img/Arrow.png);
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  
  h2 {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: $cfd-red;
  }
  
  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: $navy;
  
    .h3-alternate {
      color: $white;
    }
  }
  
  h4 {
    font-weight: bold;
    font-size: .875rem;
    color: $navy;
  }
  
  h5 {
    font-weight: bold;
    font-size: .875rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $cfd-red;
  }
  
  p {
    font-weight: normal;
    font-size: .875rem;
    color: $navy;
  }
}