.nav-wrapper {
  width: 100%;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  overflow: hidden;

  img {
    height: 55px;
    width: auto;
    justify-self: right;
    margin-left: 20px;
    padding: 10px 0px;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 4fr repeat(5, 1fr) 1.5fr 2fr;
    justify-self: end;
    align-items: center;
  }
}

.nav-item {
  margin-right: 30px;

  a {
    color: $cfd-red;
    font-size: 16px;
    line-height: 14px;
    font-weight: 600;
    text-decoration: none;
  }
}

.nav-item:nth-last-child(2) a {
  color: $white;
  background-color: #E14E54;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 20px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 50px;
  height: 4px;
  background-color: $cfd-red;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;

  :hover{
    cursor: pointer;
  }
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
  //background-color: $white;
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-11px) rotate(-45deg);
  -ms-transform: translateY(-11px) rotate(-45deg);
  -o-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
  //background-color: $white;
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    top: 55px;
    background-color: $navy;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
    z-index: 1;
  }

  .navbar li {
    padding: 35px 0px 0px;
    width: 226px;
    align-self: center;
    text-align: left;
    border-bottom: 5px solid $cfd-red;
  }

  .navbar li:nth-child(-n+2) {
    display: none;
  }

  .navbar li:nth-child(3) {
    margin-top: 35px;
  }

  .navbar li a {
    font-size: 1rem;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
  }

  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
  transform: translate(0%)!important;
  }

}
