/* Volunteer Styles */

#volunteer {
  h3 {
    margin-top: 0;
  }

  .volunteer-how-we-work {
    grid-area: howWeWork;
  }

  .volunteer-our-culture {
    grid-area: ourCulture;
  }

  .volunteer-come-together {
    grid-area: comeTogether;
  }

  .volunteer-img-how-we-work {
    align-self: start;
    grid-area: imgHowWeWork;
    justify-self: center;
  }

  .volunteer-img-our-culture {
    align-self: start;
    grid-area: imgOurCulture;
    justify-self: center;;
  }

  .volunteer-grid {
    column-gap: 90px;
    display: grid;
    grid-template-areas:
      "howWeWork imgHowWeWork"
      "ourCulture imgHowWeWork"
      "comeTogether imgOurCulture"
      "comeTogether imgOurCulture";
    grid-template-columns: 50% 50%;
    margin: auto;
    max-width: 1024px;
    padding: 150px 50px;
    row-gap: 30px;
  }

  .volunteer-texts-container {
    display: grid;
  }

  .volunteer-img,
  .volunteer-img-wrapper {
    max-width: 445px;
  }

  .volunteer-img-wrapper {
    position: relative;

    .pattern-diagonal-lines-md {
      height: 100%;
      width: 100%;
      position: absolute;
      right: 2em;
      top: 2em;
      z-index: -1;
    }

    &:nth-of-type(1) {
      margin-bottom: calc(80px + 1em);
    }
  }

  .volunteer-address p {
    margin: 0;
  }

  .button-link {
    margin-top: 24px;
  }
}
