@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap');

html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-white {
  background-color: white !important;
}

/* color classes */
.white {
  color: white !important;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #e14e54;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-bottom: 2px solid #e14e54;
}

.columnTextRight {
  margin: 1em 2.5vw 1em 2.5vw;
}

.columnTextLeft {
  margin: 1em 1vw 1em 1vw;
}

.ui.segment {
  border-radius: 0px;
  border: #f2f2f2;
}
