@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap');
@import 'variables';

html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  z-index: 0;
}

.separator {
  height: 4rem;
}

.text {
  padding: 4vw 6vw;
}

.split-image {
  display: flex;

  > * {
    width: 50%;
    @media (max-width: $tablet) {
      font-size: 1.7vw;
    }
    @media (max-width: $mobile) {
      font-size: 1rem;
      width: 100%;
    }
  }
}

.inverted {
  background-color: #232323;
  color: white;
}

.secondary {
  background-color: $red;
  color: white;
}

.pill-button,
.pill-button:hover {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border: 0.05rem solid;
  border-radius: 8rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
  > * {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

.desktop-only {
  @media (max-width: $mobile) {
    display: none;
  }
}
