html{
  font-size:22px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-white {
  background-color: white !important;
}


.navHeader{
  padding-bottom:2em;
  margin-bottom: 0em;
}

.navHeader.menu{
  margin-bottom: 0em;
}

.navLogo{
  width: 160px;
  height: auto; 
  margin: 2em 0em 0em 2em
}

.navItem {
  font-size: 16px;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #E14E54 
}

.ui.secondary.pointing.menu .active.item:hover {
  border-bottom: 2px solid #E14E54 
}

.columnTextRight{
    margin: 1em 2.5vw 1em 2.5vw;
}

.columnTextLeft{
  margin: 1em 1vw 1em 1vw;
}

.ui.segment{
  border-radius: 0px;
}
